# Proposal
Proposal/

# Node.js
webapp/node_modules/
webapp/npm-debug.log*
webapp/yarn-debug.log*
webapp/yarn-error.log*
webapp/.env
webapp/.DS_Store

# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
pip-log.txt
*.pyo
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.tar
data/

# Byte-compiled / optimized / DLL files
*.pyc

# Virtual environment
.venv/

# Testing
.pytest_cache/
.tox/

# IDE files
.vscode/
.idea/


['<SYMBOL_LBRACE, {>', '<IDENTIFIER, linear0>', '<SYMBOL_COLON, :>', '<SYMBOL_LBRACE, {>', '<IDENTIFIER, name>', '<OP_EQUAL, =>', '<LITERAL_STRING, "Layer 0">', '<SYMBOL_SEMICOLON, ;>', '<IDENTIFIER, dim_in>', '<OP_EQUAL, =>', '<FLOAT, 784>', '<SYMBOL_SEMICOLON, ;>', '<IDENTIFIER, dim_out>', '<OP_EQUAL, =>', '<FLOAT, 128>', '<SYMBOL_SEMICOLON, ;>', '<SYMBOL_RBRACE, }>', '<SYMBOL_COMMA, ,>', '<SYMBOL_COMMA, ,>', '<IDENTIFIER, linear2>', '<SYMBOL_COLON, :>', '<SYMBOL_LBRACE, {>', '<IDENTIFIER, name>', '<OP_EQUAL, =>', '<LITERAL_STRING, "Layer 1">', '<SYMBOL_SEMICOLON, ;>', '<IDENTIFIER, dim_in>', '<OP_EQUAL, =>', '<FLOAT, 128>', '<SYMBOL_SEMICOLON, ;>', '<IDENTIFIER, dim_out>', '<OP_EQUAL, =>', '<FLOAT, 10>', '<SYMBOL_SEMICOLON, ;>', '<SYMBOL_RBRACE, }>', '<SYMBOL_RBRACE, }>']