body {
  font-family: Arial, sans-serif;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sections-container {
  width: 60%;
  margin: 20px 0;
  position: relative;
}

.section-container {
  position: relative;
  display: flex;
  align-items: center;
}

.add-between {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin-right: 15px; /* Move button to the left of the section */
}

.section {
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
  flex-grow: 1; /* Allow the section to fill the space */
}

.remove-section {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.add-section {
  cursor: pointer;
  font-size: 24px;
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  text-align: center;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
}

.dropdown {
  margin-left: 15px;
  margin-right: 15px;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #ffffff;
}

.layer-title {
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
}

.layer-title input {
  font-size: 18px;
  font-weight: bold;
  width: 100px;
  margin-right: 15px;
  padding: 2px;
}

.inputs-container {
  display: none;
  margin-left: 15px;
  display: flex;
  align-items: center;
}

.inputs-container label {
  margin-right: 10px;
}

.inputs-container input {
  margin-right: 20px;
  padding: 5px;
  font-size: 14px;
  width: 80px;
}
